

<div class="new-link">
  short: <a href="http://localhost:3000/<%=url.short%>">localhost:/<%=url.short%></a><br/>
  long:  <div class="long-link"><%=url.long.lstrip%></div> <br/>
  views:<span class="num"> <%=url.views%></span>
</div>