<h1>Enter a url to shorten</h1>
<form action="/" method="POST">
    <input type=text name="url[long]" placeholder="http://"/>
    <button>Submit</button>
    <%= token_tag form_authenticity_token %>
</form>
Your shortened URLs <br>
<% @urls.each do |url| %>
<a href="<%=show_url_path(url.short)%>"><%=url.short%></a><br/>
<%end%>

