<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

    <script src="/scripts/jquery-2.0.3.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Movie Finder</title>
</head>
<body>
<div class="navbar-inverse navbar-fixed-top">
    <div class="navbar-header pull-left">
      <a class="navbar-brand hidden-xs" href="/">Movie Finder</a>
    </div>
    <div class="navbar-header pull-right search-form-div">
      <form class="title-form" method="Post" action="/" role="search">
        <input type="text" class="form-control" name="s" placeholder="Title">
        <button type="submit" class="btn btn-default navbar-btn">Search</button>
    </form>
    </div>
</div>
    <%= yield %>
</body>
</html>